<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="text-center description d-flex justify-content-center">
                <h1>Generate strong random password</h1>
              </div>
              <div class="text-center d-flex justify-content-center">
                <p>Generates strong random passwords with uppercase, lowercase characters, numbers and symbols. We do not store the generated password. Everything is done on the client side.</p>
              </div>
            <div class="row d-flex justify-content-center">
                <div class="card col-sm-12 col-md-8 col-lg-6">
                    <div class="card-header">
                        <h1 class="card-title">Generate strong password</h1>
                    </div>
                    <div class="card-body row">
                        <div class="input-group password">
                            <input type="text" [(ngModel)]="strongPassword" class="form-control" disabled>
                            <div class="input-group-append copy" (click)="copy('pass')">
                                <div class="input-group-text"><i class="fas fa-copy" title="Copy to clipboard"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-success text-center"
                        [className]="showPasswordMessage ? 'showMessage text-success text-center' : 'hideMessage'">Copied!</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <div>
                        <form [formGroup]="reactiveForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Password length</label>
                                        <input type="number" class="form-control" formControlName="length"  min="1" max="60" onclick="this.select()">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="uppercase" formControlName="uppercase">
                                            <label for="uppercase">
                                                Include uppercase characters
                                            </label>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="lowercase" formControlName="lowercase">
                                            <label for="lowercase">
                                                Include lowercase characters
                                            </label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="symbols" formControlName="symbols">
                                            <label for="symbols">
                                                Include symbols
                                            </label>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <!-- <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="lowercase" formControlName="lowercase">
                                            <label for="lowercase">
                                                Include lowercase characters
                                            </label>
                                          </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control select2" style="width: 100%;" formControlName="hash">
                                          <option value="0" selected disabled>Select hash method</option>
                                          <option value="2">bcrypt</option>
                                          <option value="3">MD5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control" formControlName="rounds"  min="6" max="12">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="card col-sm-12 col-md-8 col-lg-6">
                    <div class="card-body row">
                        <div class="input-group password">
                            <input type="text" [(ngModel)]="hashPassword" class="form-control" disabled>
                            <div class="input-group-append copy" (click)="copy('hash')">
                                <div class="input-group-text"><i class="fas fa-copy" title="Copy to clipboard"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-success text-center"
                        [className]="showHashMessage ? 'showMessage text-success text-center' : 'hideMessage'">Copied!</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card">
              <div class="card-header">
                <h2 class="card-title">Password</h2>
              </div>
              <div class="card-body">
                <p>A password, sometimes called a passcode (for example in Apple devices), is secret data, typically a string of characters, usually used to confirm a user's identity. Traditionally, passwords were expected to be memorized, but the large number of password-protected services that a typical individual accesses can make memorization of unique passwords for each service impractical. Using the terminology of the NIST Digital Identity Guidelines, the secret is held by a party called the claimant while the party verifying the identity of the claimant is called the verifier. When the claimant successfully demonstrates knowledge of the password to the verifier through an established authentication protocol, the verifier is able to infer the claimant's identity.</p>
                <p>In general, a password is an arbitrary string of characters including letters, digits, or other symbols. If the permissible characters are constrained to be numeric, the corresponding secret is sometimes called a personal identification number (PIN).</p>
                <p>A strong password has at least 15 characters, uppercase letters, lowercase letters, numbers and symbols</p>
                <p>A strong password is not your username, not your name, your friend's name, your family member's name, or a common name, not your date of birth, not a dictionary word, not like your previous passwords, not a keyboard pattern, such as qwerty, asdfghjkl, or 12345678</p>
              </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->