<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="card col-sm-12 col-md-8 col-lg-6">
                    <div class="card-header">
                        <h1 class="card-title">Generate strong password</h1>
                    </div>
                    <div class="card-body row">
                        <div class="input-group password">
                            <input type="text" [(ngModel)]="strongPassword" class="form-control" disabled>
                            <div class="input-group-append copy" (click)="copy()">
                                <div class="input-group-text"><i class="fas fa-copy" title="Copy to clipboard"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-success text-center"
                        [className]="showMessage ? 'showMessage text-success text-center' : 'hideMessage'">Copied!</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <!-- form -->

                <!-- general form elements disabled -->
                <div class="col-sm-12 col-md-8 col-lg-6">

                    <!-- /.card-header -->
                    <div>
                        <form [formGroup]="reactiveForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Password length</label>
                                        <input type="number" class="form-control" formControlName="length"  min="6" max="100">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="uppercase" formControlName="uppercase">
                                            <label for="uppercase">
                                                Include uppercase characters
                                            </label>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="lowercase" formControlName="lowercase">
                                            <label for="lowercase">
                                                Include lowercase characters
                                            </label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="symbols" formControlName="symbols">
                                            <label for="symbols">
                                                Include symbols
                                            </label>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- checkbox -->
                                    <!-- <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="lowercase" formControlName="lowercase">
                                            <label for="lowercase">
                                                Include lowercase characters
                                            </label>
                                          </div>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.card -->
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->