<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">

        </div><!-- /.col -->
        <div class="col-sm-6">

        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="text-center description d-flex justify-content-center">
        <h1>Easily convert json objects to excel or csv</h1>
      </div>
      <div class="text-center d-flex justify-content-center">
        <p>Sometimes it is necessary to convert our json objects to a file type readable by people outside of the IT department. Idetek makes this job easy for you</p>
      </div>
      <div class="d-flex justify-content-center">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Json to excel</h2>
          </div>
          <div class="card-body">
            <!-- textarea -->
            <div class="form-group">
              <textarea #data [ngModel]="textareaData" (ngModelChange)="textareaChange($event)" class="form-control"
                rows="3" cols="100" placeholder="Paste your json object here..."></textarea>
            </div>
            <div *ngIf="showError" class="text-center alert alert-danger">
              {{ errorMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Application buttons -->


    <div class="d-flex justify-content-center">
      <button (click)="downloadXLS()" [disabled]="!showData" class="btn btn-app bg-success">
        <i class="fas fa-file-excel"></i> excel
      </button>
      <button (click)="downloadCSV()" [disabled]="!showData" class="btn btn-app bg-info">
        <i class="fas fa-file-csv"></i> csv
      </button>
      <button (click)="reset()" class="btn btn-app bg-secondary">
        <i class="fas fa-eraser"></i> reset
      </button>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="card" [hidden]="!showData"><!--[className]="showData ? 'showTable' : 'hideTable'"-->
      <div class="card-header">
        <h3 class="card-title">Json data</h3>
      </div>
      <!-- /.card-header -->
      
      <div class="card-body">
        <table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th *ngFor="let element of tableTitles">
                {{ element }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of tableRows">
              <td *ngFor="let value of element">
                {{ value }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th *ngFor="let element of tableTitles">
                {{ element }}
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <section id="description">
      <div class="d-flex justify-content-center">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">JSON</h2>
          </div>
          <div class="card-body">
            <p>JavaScript Object Notation (JSON) is a lightweight, text-based, language-independent data interchange format.
              It was derived from the ECMAScript Programming Language Standard. JSON defines a small set of formatting rules
              for the portable representation of structured data.</p>
            <p>Applications that use this media type: JSON has been used to exchange data between applications written in
              all of these programming languages: ActionScript, C, C#, Clojure, ColdFusion, Common Lisp, E, Erlang, Go,
              Java, JavaScript, Lua, Objective CAML, Perl, PHP, Python, Rebol, Ruby, Scala, and Scheme.</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Excel</h2>
          </div>
          <div class="card-body">
            <p>Microsoft Excel is a spreadsheet developed by Microsoft for Windows, macOS, Android and iOS. It features
              calculation or computation capabilities, graphing tools, pivot tables, and a macro programming language called
              Visual Basic for Applications (VBA). Excel forms part of the Microsoft Office suite of software. </p>
            <p>Microsoft Excel is one of the most used software application in the world. Excel have the Powerful Tools and
              Functions, using it for wide verity of applications across the global IT Companies. It is easy to enter the
              data, read and manipulate the data. Excel stores the data in a table format in Rows and Columns.</p>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">CSV</h2>
          </div>
          <div class="card-body">
            <p>The comma separated values format (CSV) has been used for exchanging and converting data between various spreadsheet programs for quite some time.  Surprisingly, while this format is very common, it has never been formally documented.  Additionally, while the IANA MIME registration tree includes a registration for "text/tab-separated-values" type, no MIME types have ever been registered with IANA for CSV.  At the same time, various programs and operating systems have begun to use different MIME types for this format.</p>
            <p>Common usage of CSV is US-ASCII, but other character sets defined by IANA for the "text" tree may be used in conjunction with the  "charset" parameter.</p>
            <p>The "header" parameter indicates the presence or absence of the header line. Valid values are "present" or "absent". Implementors choosing not to use this parameter must make their own decisions as to whether the header line is present or absent.</p>
          </div>
        </div>
      </div>
    </section>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->