<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="body">
                <h1 class="title">Idetek development tools</h1>
                <p>On this website you will find multiple useful tools for the developer. </p>
                <h5 class="text-bold text-dark mt-3" id="adminlte-v30">Available tools</h5>
                <dl>
                    <dt><i class="fas fa-check"></i> <a routerLink="/json-to-excel">JSON to excel and csv</a></dt>
                    <dd>Sometimes it is necessary to convert our json objects to a file type readable by people outside of the IT department. Idetek makes this job easy for you.</dd>
                    <dt><i class="fas fa-check"></i> <a routerLink="/strong-random-password">Password generator</a></dt>
                    <dd>Generates strong random passwords with uppercase, lowercase characters, numbers and symbols. We do not store the generated password. Everything is done on the client side.</dd>
                    <dt><i class="fas fa-check"></i> <a routerLink="/character-counter">Character counter</a></dt>
                    <dd>Analyze texts in a simple way. Count sentences, characters, words, paragraphs and spaces.</dd>
                </dl>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->